body {
    background-color:black;
    font-family:arial;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color:white}

    h1{color:grey;
        font-family:verdana}

        .maindiv{
    
    background-color: white;
    color: black;
    width: 600px;
    height: 400px;
    padding: 50px;
    border-radius: 25px;
}
.infos{
    margin: 0 auto;
    width: 50%;
    line-height: 1.5;
}

